@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
/** Resets **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

/** Styles **/
:root {
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-light-cyan: #4abebd;
  --clr-very-light-cyan: #77eae7;
  --clr-bright-yellow: hsl(71, 73%, 54%);

  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);

  --border-radius: 5px;
}

body {
  font-family: "Karla", sans-serif;
  background: var(--clr-light-gray);
}

.main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 4.5em 2em;
}

.grid-card {
  display: grid;
  max-width: 40em;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 15px 30px -10px rgba(2, 9, 104, 0.288);
}

@media (min-width: 600px) {
  .grid-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-card__header {
  background: white;
  padding: 2em 1.5em;
}

@media (min-width: 600px) {
  .grid-card__header {
    grid-column: span 2;
    padding: 2.5em;
  }
}

.grid-card__title {
  color: var(--clr-cyan);
  margin-bottom: 1.1em;
}

.grid-card__subtitle {
  color: var(--clr-bright-yellow);
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.6em;
}

.grid-card__header-prose {
  color: var(--clr-grayish-blue);
  line-height: 1.6;
}

.grid-card__section {
  padding: 1.5em;
}

@media (min-width: 600px) {
  .grid-card__section {
    padding: 2.5em;
  }
}

.grid-card__section--cta {
  color: white;
  background: var(--clr-cyan);
}

.grid-card__section--list {
  color: white;
  background: var(--clr-light-cyan);
}

.grid-card__section-title {
  font-size: 1.125rem;
  margin-bottom: 1.1em;
}

.grid-card__section-body {
  margin-bottom: 1.6em;
}

.grid-card__prose {
  color: var(--clr-grayish-blue);
  line-height: 1.6;
}

.grid-card__section--cta .grid-card__prose {
  color: white;
}
.grid-card__section--list .grid-card__prose {
  color: var(--clr-light-gray);
}

.grid-card__pricing {
  display: flex;
  align-items: center;
  gap: 0.75em;
  color: var(--clr-very-light-cyan);
  margin-bottom: 0.3em;
}

.grid-card__pricing-figure {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.grid-card__list {
  font-size: 0.875rem;
  line-height: 1.4;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background: var(--clr-bright-yellow);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.192);
  cursor: pointer;
}

.button--wide {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution__link {
  color: hsl(228, 45%, 44%);
}

/** Utility classes **/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;
}
